<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Link para o seu arquivo CSS externo -->
  <title>Alterando um Morador</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
    }

    header h1 {
      margin: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 1rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input[type="checkbox"] {
      margin-right: 0.5rem;
    }

    button[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #555;
    }
  </style>
</head>
<body>
  <header>
    <h1>Alterando um Morador</h1>
  </header>
  <div class="container">
    <!-- No EJS residentViewPut -->
  <form action="/residents/<%= resident._id %>/change" method="POST">

    <label for="fullName">Nome Completo:</label>
    <input type="text" id="fullName" name="fullName" value="<%= resident.fullName %>">

    <label for="nickname">Apelido:</label>
    <input type="text" id="nickname" name="nickname" value="<%= resident.nickname %>">

    <label for="course">Curso:</label>
    <input type="text" id="course" name="course" value="<%= resident.course %>">

    <label for="year">Ano:</label>
    <input type="number" id="year" name="year" value="<%= resident.year %>">

    <button type="submit">Salvar</button>
  </form>

  </div>
</body>
</html>
